<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app1.js"></script>
    <title>LunchCheck</title>
  </head>
  <body>
    <div ng-controller="LunchCheckController">
    <div>
      Enter your Items<input type="text" id="items" ng-model="name">
    </div>
    <div>
    <button ng-click="CountValue();">Check If Too Much</button>
  </div>
  </div>
  <script>
var elem=document.getElementById('items');
alert(elem);
  </script>
  </body>
</html>
